*{
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;
}
.a {
    margin-left: 140px;
}
body{
    box-sizing: border-box;
    font-family: sans-serif;
    
}
img{
    object-fit: cover;
}


/* deadpool */
.card__section{
    margin: 100px 0;
    
}
.card__box{
    position: relative;
  
    width: 24%;
    padding: 0px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px 0 rgb(236, 235, 235);
   
}
.card__content{
    padding-left: 10px;
}
.card__img{
    margin-bottom: 7px;
    width: 100%;
}
.card__btn{
    padding: 9px 67px;
    background-color: #fff;
    margin-bottom: 10px;
}
.card__btn:hover{
    background-color: #010F56;
    color: #fff;
}
.card__title{
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #010F56;  
    margin-bottom: 17px;
}
.card__link{
    padding: 5px 9px;
    background: #FCCC43;
    border-radius: 2px;
    color: #000;
    
}
.card__text{
    margin-top: 19px;
    margin-bottom: 25px;
    
}
.card__text p {
    margin-bottom: 6px;
    font-size: 14px;
}
.card__position img{
    background-color: #fff;
    position: absolute;
    top: 10px;
    left: 20px;
    border-radius: 2px;
    padding: 5px;
}
.card__position span{
    background-color: #fff;
    padding: 0px 20px;
    position: absolute;
    border-radius: 2px;
    top: 10px;
    left: 180px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FF027E;

}
.bg-coral{
    background-color: coral;
}
.bg-fiolet{
    background-color: #FF027E;
}
.btn__center{
   margin-right: 0;
}
/* deadpool */


/* 2-section */

.title{
    color: #010F56;
}

.pos-img {
    position: absolute;
    top: 10px;
    left: 20px;
}
.pos-p {
    position: absolute;
    left: 180px;
    top: 10px;
    color: #FF027E;
    background-color: white;
    padding: 0px 25px;
    border-radius:2px;
    font-weight: 700;

}
.box__item{
    width: 273px;
    padding: 0px;
    box-sizing: border-box;
}
.card-item {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    border: none;
    
}
.main__img{
    width: 273px;
    height: 200px;
}
.but {
    padding: 7px 47px;
    height: 40px;
    background-color: white;
    border-radius: 2px;
    color: #010F56;
    margin-bottom: 10px;
}

.but:hover {
    background-color: #010F56;
    color: white;
    border: none;
}
.bg-fiolet {
    background-color: #FF027E;
}
.bg-orange {
    background: #F95F09;
}
.card-body{
    margin-left: 10px;
}



.news{
    color: #010F56;
}
.card-header{
    background-image: url(./images/Photo-1.png);
    width: 100%;
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-header-2{
    background-image: url(./images/Photo-2.png);
    width: 100%;
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-header-3{
    background-image: url(./images/Photo-3.png);
    width: 100%;
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-4{
    position: relative;
    top: 50px;
    height: 450px;
    width: 200px;
    right: 0;
}
.card{
    /* padding: 0px 20px; */
    width: 350px;
}
.fixed-footer{
    height: 100px;
    text-align: center;
    align-items: center;
    background-color: #07032B;
    margin-top: 70px;
    font-size: 14px;
}
.kh1{
    color: #07032B;
}
.katalogdiv{
    margin-top: 150px;
}
.katalog {
    position: relative;
}

.img1 {
    position: absolute;
    right: 10px;
    bottom: 50px;
}

.img2 {
    position: absolute;
    left: 10px;
    bottom: 50px;
}
